.buttonContainer {
  display: flex;
  justify-items: center;
  gap: 12px;
}

.ctaButton {
  background: #FBFAF6;
  border: 0.75px solid #30715D;
  border-radius: 100px;
  padding: 12.5px 24px;
  display: inline-flex;
  vertical-align: middle;
  color: #30715D;
  cursor: pointer;
  font-size: 1rem;
}

.ctaButton:hover {
  background: #FBFAF6;
}

@media (max-width: 500px) {
  .ctaButton {
    padding: 12.5px 19px;
  }
}

@media (max-width: 480px) {
  .ctaButton {
    font-size: .9rem;
  }
}

@media (max-width: 320px) {
  .ctaButton {
    font-size: .7rem;
  }
}