.galleryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  position: relative;
  flex-direction: column;
}

.gallery {
  position: relative;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

@media (max-width: 1224px) {
  .gallery {
      width: 400px;
  }
}

@media (max-width: 1020px) {
  .gallery {
      width: 500px;
  }
}

@media (max-width: 768px) {
  .gallery {
      width: 500px;
  }
}

@media (max-width: 500px) {
  .gallery {
      width: 300px;
  }
}

.card {
  position: absolute;
  width: 80%;
  height: 100%;
  background: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  z-index: 1;
}

.cardImage {
  object-fit: contain;
  border-radius: 12px;
  background-color: #FBFAF6;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 20px;
  z-index: 1000;
}

.arrowButton {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #444;
  padding: 10px 20px;
  transition: color 0.2s ease;
}

.arrowButton:hover {
  color: #000;
}
