.galleryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  position: relative;
  flex-direction: column;
  min-height: 200px;
}

.gallery {
  position: relative;
  width: 500px;
  height: 244px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
}

.card {
  position: absolute;
  width: 80%;
  height: 100%;
  background: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  z-index: 1;
}

.cardImage {
  object-fit: contain;
  border-radius: 12px;
  background-color: #FBFAF6;
}

@media (max-width: 1224px) {
  .gallery {
      width: 400px;
  }
}

@media (min-width: 1025) {
  .galleryWrapper {
    height: 328px;
  }
}

@media (max-width: 1024px) {
  .galleryWrapper {
    height: 600px;
  }
  .gallery {
    width: 100%;
    height: 244px;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .galleryWrapper {
    height: 328px;
  }
}

@media (max-width: 768px) {
  .gallery {
      width: 500px;
      height: 200px;
  }
}

@media (max-width: 500px) {
   .galleryWrapper {
    height: 200px;
  }

  .gallery {
      width: 70%;
  }
}
