@import "tailwindcss";

:root {
  --background: #FBFAF6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FBFAF6;
    --foreground: #0000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Soehne', sans-serif;
  overflow-x: hidden;
}

.main-heading-1 {
  font-family: 'Soehne';
  font-style: normal;
  font-weight: 400;
  font-size: 112px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #153E2A;
}

@media (max-width: 1024px) {
  .main-heading-1 {
    font-size: 48px;
    line-height: 115%;
  }
}

.cta-heading-text {
font-family: 'Soehne';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 140%;
letter-spacing: -0.03em;
color: #153E2A;
}

@font-face {
  font-family: 'Soehne';
  src: url('/fonts/soehne-buch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.scrolling-text {
font-family: 'Soehne';
font-style: normal;
font-weight: 400;
font-size: 12px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #D87906;
}

.cta-button {
background: #FBFAF6;
border: 0.75px solid #30715D;
border-radius: 25px;
color: #30715D;
}

.z-top {
  z-index: 1000;
}
