@import "tailwindcss";

:root {
  --background: #FBFAF6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Soehne';
  src: url('/fonts/soehne-buch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Soehne', sans-serif;
  overflow-x: hidden;
}

.main-container {
  margin: 0 auto;
  max-width: 1440px;
}

.z-top {
  z-index: 1000;
}